<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentaccount = <%= render("api/accounts/show.json.jbuilder",
  		account: current_user).html_safe %>
  <% end %>


    window.images = {
      imgur_logo: "<%= image_path('imagest.gif') %>",
      twitter_icon: "<%= image_path('twitter_icon.png') %>",
      facebook_icon: "<%= image_path('facebook_icon.png') %>",
      google_plus_icon: "<%= image_path('google_plus_icon.png') %>",
      angellist_icon: "<%= image_path('angellist_icon.png') %>",
      cloud_icon: "<%= image_path('cloud_icon.png') %>",
      search_icon: "<%= image_path('search_icon.png') %>",
      right_arrow_icon: "<%= image_path('right_arrow_icon.png') %>",
      left_arrow_icon: "<%= image_path('left_arrow_icon.png') %>",
      upvote_icon: "<%= image_path('greenArrow.png')%>",
      downvote_icon: "<%= image_path('RedArrow.PNG')%>",
      grey_up_icon: "<%= image_path('greyUpArrow.png')%>",
      grey_down_icon: "<%= image_path('greyDownArrow.png')%>",
      heart_icon: "<%= image_path('heart_icon.png')%>",
      facebook_action: "<%= image_path('facebook_action.png')%>",
      twitter_action: "<%= image_path('twitter_action.png')%>",
      pinterest_action: "<%= image_path('pinterest_action.png')%>",
      reddit_action: "<%= image_path('reddit_action.png')%>",
      menu_action: "<%= image_path('menu_action.png')%>",
      linkedin_icon: "<%= image_path('linkedin_icon.png')%>",
      github_icon: "<%= image_path('github_icon.png')%>",
      resume_icon: "<%= image_path('resume_icon.png')%>",
      angellist_icon: "<%= image_path('angellist_icon.png')%>",
    }


</script>

<div id='root'></div>
