<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/accounts/show.json.jbuilder",
  		account: current_user).html_safe %>
  <% end %>


    window.images = {
      imgur_logo: "<%= image_path('https://imgur.com/images/access/access-logo.png') %>",
      twitter_icon: "<%= image_path('twitter_icon.png') %>",
      facebook_icon: "<%= image_path('facebook_icon.png') %>",
      google_plus_icon: "<%= image_path('google_plus_icon.png') %>",
      yahoo_icon: "<%= image_path('yahoo_icon.png') %>",
      cloud: "<%= image_path('cloud.png') %>"
    }

</script>

<div id='root'></div>
