<!DOCTYPE html>
<html>
  <head>
    <title>ImgurApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script>
      window.images = {
        imgur_logo: "<%= image_path('https://imgur.com/images/access/access-logo.png') %>",
        twitter_logo: "<%= image_path('twitterlogo.png') %>"
      }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
